
*{
    /*    margin:0;
        padding:0;
        box-sizing: border-box;*/
}
.form-grid{
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.form-styles{
    /*background-color: red;*/
    padding: 30px;
}

.content{
    background-color: blue;
    padding: 0;
}